<div class="container">
<p> Update Client's Profile </p>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p><%= form_for @user do |f| %></p>
		<p><%= f.label :fname," First name" %></p>
		<p><%= f.text_field :fname%></p>
		<p><%= f.label :lname, "Last name" %></p>
		<p><%= f.text_field :lname %></p>
		<p><%= f.label :email %></p>
		<p><%= f.email_field :email%></p>
		<p><%= f.label :content %></p>
		<p><%= f.text_field :content %> </p>
		<%= f.submit "Save Changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
</div>