<h1>See all Clients</h1>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Client's Question</th>
			</tr>
		</thead>		
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.fname %></td>
				<td><%= user.lname %></td>
				<td><%= user.email %></td>
				<td><%= user.pnum %></td>
				<td><%= user.content %></td>
			</tr>
			<% end %>
		</tbody>	
	</table>	
</div>
