<script>
  $(document).ready(function(){
    $("#catchphrase1").fadeIn(1500);
});
</script>

<div class="col-lg-12">
  <div>
    <div class="carousel-caption">
      <h2 id="catchphrase1" class="text-left" style="margin-top:-250px; display:none">If we build it, they'll come, and stay.</h2>
    </div>
  </div>

  <div>
    <%= image_tag "sky13.jpg", style:"margin-left:-20px", width:"1070", height:"467", class:"img-responsive" %>
    <h1 class="captionbox">The Premiere Architecture Firm of the 21st Century</h1>
  </div>
</div>

<!--  End Beginning -->

<!--  Start Work 0 -->

<div class="col-lg-11" style="margin-left:-26px">
 <div class="col-lg-6" style="margin-left:-20px">
   <div class="carousel-caption">
    <h2>The Crystal Buildings</h2>
  </div>
  <%= image_tag "sky15.jpg", class:"img-responsive" %>
</div>
<div class="col-lg-6" style="margin-left:-20px">
  <div class="carousel-caption">
    <h2>The Curves of Rome</h2>
  </div>
  <%= image_tag "sky8.jpg", class:"img-responsive" %>
</div>
</div>

<!--  End Work 0 -->

<!-- Work 1 -->

<div class="col-lg-12">
  <h1 class="captionbox"><a name="OurWork"></a>Our Work</h1>
</div>

<div class="col-lg-12">

  <div class="col-lg-5" style="padding:25px">
    <ul>
      <h2>
        <li>Westley Bank HQ</li>
        <li>Opera House of San Andreo</li>
        <li>Farcly Mansion of Birmingham</li>
        <li>Lancaster Drinking Hall</li>
        <li>Elehousely Bath House</li>
      </h2>
    </ul>
  </div>

  <div class="col-lg-5" style="padding:25px">
    <ul>
      <h2>
        <li>Margrine Building</li>
        <li>Aslabaster House</li>
        <li>McDarcely HQ</li>
        <li>Burning House Bar</li>
        <li>The Alam Architectural Museum</li>
      </h2>
    </ul>
  </div>

</div>

<!--  End Work 1 -->

<!--  Begin History -->

<div class="col-lg-12">
  <h1 class="captionbox"><a name="OurHistory"></a>Our History</h1>
</div>

<div>

<!-- Drawing -->



<!-- END Drawing -->

</div>

<div class="col-lg-10" style="padding:50px">

  <h4>Alam Sanders was a poor architect in the 19th century, who seemed to have a profundly strange look at design, which was ahead of his time, but didn't market or sell his designs in fear of competition getting a hold of them. He died broke and his will stated that his designs were to only belong to his descendants.</h4> 

  <br>

  <p>Long after his death, his descendant architecural family discovered his blueprints, and at that time when these were discovered, that century was looking for Alam’s types of design and modernism.<br>

    <br>

    <h4>Alam’s great grand-daughter realized this trend, and took up the family trade and designed buidlings in the USA, but soon realized that Alam’s designs were wanted all over the world.</h4>

    <br>

    <p>So she opened an architecture firm called Dylo Designs, with the name called after her mentor in architecture school who influenced her so much, that this business wouldn't exist if she didn't meet the mentor.</p>

    <br>

    <h4>But she never forgot her great grand-father's work, so she honored the roots of her architectural career by installing the Alam Architectural Museum, next to our headquarters in NYC.</h4>
    <br>
  </div>
  
  <!--  End History -->

  <!--  Start Motto and Work 2 -->
  <div class="col-lg-12">
    <h1 class="captionbox"><a name="OurMission"></a>About Our Mission</h1>
  </div>

  <div class="col-lg-12">
    <div class="col-lg-5">
      <%= image_tag "sky4.jpg", class:"img-responsive" %>
      <div class="carousel-caption">
        <h2>The Ship of the Sky</h2>
      </div>
    </div>

    <div class="col-lg-5">
      <%= image_tag "sky14.jpg", class:"img-responsive" %>
      <div class="carousel-caption">
        <h2>Haley Insitute</h2>
      </div>
    </div>
  </div>

  <div class="col-lg-10">
    <h2 style="text-align:center">This firm prides itself on:<br>
      Integrity, Awesome Design, High Buildings…<br>
      And great people relations.</h2>
    </div>

    <div class="col-lg-12">
      <div class="col-lg-5">
        <%= image_tag "sky9.jpg", class:"img-responsive" %>
        <div class="carousel-caption">
          <h2>The SkyTower of Minos</h2>
        </div>
      </div>

      <div class="col-lg-5">
        <%= image_tag "sky1.jpg", class:"img-responsive" %>
        <div class="carousel-caption">
          <h2>Alam Architectural Museum</h2>
        </div>
      </div>
    </div>
    
    <!--  End Motto and Work 2 -->
    
    <!--  Start Contact -->

    <div class="col-lg-12">
      <h1 class="captionbox"><a name="Contact"></a>Want to talk to us?</h1>
    </div>

    <div class="col-lg-10">
      <br>
      <h4>What we need from the client:</h4>
      <ul>
        <li>A basic meeting of what they would like their building to look like</li>
        <li>An understanding of how the process works with us</li>
        <li>Some architectural experience</li>
        <li>A bold vision of what they expect</li>
        <li>Some understanding that the design process will not be smooth</li>
        <li>Patience, some designs take years to plan with us.</li>
      </ul> 
      <br>
    </div>
