<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META TAGS -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<!-- Bootstrap CSS -->
	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" %>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Coming+Soon" %>
	<!-- jQuery and Bootstrap js -->
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
	<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>
	<%= javascript_include_tag "https://cdn.jsdelivr.net/vivus/latest/vivus.min.js" %>	
	<!-- Our css and js files -->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-no-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<title>Dylo Design</title>
</head>
<body data-spy="scroll" data-target="#navbar">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Navigate</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to image_tag("logo.png", class: "navbar-brand img-responsive"), "/" %>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="menuli"><a href="/#OurWork" data-target="#OurWork">Our Work</a></li>
					<li class="menuli"><a href="/#OurHistory"  data-target="#OurHistory">History</a></li>
					<li class="menuli"><a href="/#OurMission" data-target="#OurMission">About Us</a></li>
					<li class="menuli"><a href="/#Contact" data-target="#Contact">Contact</a></li>
					<li class="menuli"><a href="/building">Dylo Kids Corner</a></li>
				</ul>
				<% if admin_user %>
				<ul class="nav navbar-nav navbar-right">
					
					<li><p class = "navbar-text navbar-link">Signed in as <%= admin_user.email %></p></li>
					<li><%= link_to "See Users", admins_index_path, :class => "menuli" %></li>	
					<li><%= link_to 'Logout',logout_path, method: :delete %></li>
				</ul>
				<% end %>
			</div>
		</div>		
	</nav>
	<div class="social-bar dropdown">
		<button class= "btn btn-default dropdown-toggle" data-toggle="dropdown">
			Share
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><%= link_to image_tag("facebook-gray.png", class: "social-img"), "###", class: "social-img-link" %></li>
			<li><%= link_to image_tag("pinterest-gray.png", class: "social-img"), "###" %></li>
			<li><%= link_to image_tag("twitter-gray.png", class: "social-img"), "###" %></li>
		</ul>
	</div>
	<div class="container-fluid">

		<%= yield %>

		<% flash[:notice] if flash[:notice] %>
		<% flash[:alert] if flash[:alert] %>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="footerbox">
				<div class="col-lg-12">
					<div class="col-lg-4 col-md-4">
						<h2>Site Map</h2>
						<p id="copyright">&copy 2015, JTT Designs</p>
					</div>
					<div class="col-lg-4 col-md-4">
						<p><a href="/#OurWork">Our Work</a></p>
						<p><a href="/#OurHistory">History</a></p>
						<p><a href="/#OurMission">About Us</a></p>
					</div>
					<div class="col-lg-4 col-md-4">
						<p><a href="/contact_us">Contact</a></p>
						<p><a href="/building">Kids Corner</a></p>
						<p><a href="/"></a>Home</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
