<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dylo Design</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<ul class="nav navbar-nav">
				<% if current_user %>

					<li class="menuli"><%= current_user.email %></li>
					<li class="menuli"> <%= link_to 'logout',logout_path, method: :delete %></li>
					<li class="menuli"><%= link_to "See Users", admins_index_path, :class => "menuli" %></li>
					<% else %>
		
				<li id="menulogo"><%= link_to image_tag("logo.png", class: "img-repsonsive"), "/" %></li>
				<li class="menuli"><a href="/#OurWork">Our Work</a></li>
				<li class="menuli"><a href="/#OurHistory">History</a></li>
				<li class="menuli"><a href="/#OurMission">About Us</a></li>
				<li class="menuli"><a href="/#Contact">Contact</a></li>
				<li class="menuli"><a href="/building">Dylo Kids Corner</a></li>
				<% end %>
				
			
			
			</ul>
		</nav>

		<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>


		<%= yield %>

		<div class="row">
			<div class="footerbox">
				<div class="col-lg-3">
					<h1>Site Map</h1>
					<br>
				</div>

				<div class="col-lg-9">
					<div class="col-lg-3">
						<p><a href="/#OurWork">Our Work</a></p>
						<p><a href="/#OurHistory">History</a></p>
						<p><a href="/#OurMission">About Us</a></p>
					</div>

					<div class="col-lg-6">
						<p><a href="/contact_us">Contact</a></p>
						<p><a href="/building">Kids Corner</a></p>
						<p><a href="/login">Admin Login</a></p>
					</div>
				</div>
			</div>
			<h4>&copy 2015, Marissa Sanders</h4>
		</div>
	</div>
</body>
</html>
